<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.todolistreact.todo.dao.TodoDao">

    <insert id="insertTodo" parameterType="com.example.todolistreact.todo.dto.TodoDataDto">
        <selectKey keyProperty="todoNo" resultType="long" order="AFTER">
            select seq_todo_no.currval from dual
        </selectKey>
        insert into todo_tb (todo_no, todo_content, todo_success, todo_delete, user_no)
        values (seq_todo_no.nextval, #{todoContent}, #{todoSuccess}, #{todoDelete}, #{userNo})
    </insert>

    <select id="selectTodoData" resultType="com.example.todolistreact.todo.dto.TodoDataDto">
        select * from todo_tb
        where user_no = #{userNo}
        ORDER BY todo_no desc
    </select>

    <select id="selectUserDataByUsername" parameterType="String" resultType="Boolean">
        select count(*) from user_tb
        where user_name = #{username}
    </select>
    <select id="selectUserNo" resultType="java.lang.Long">
        select user_no
        from user_tb
        where user_name = #{user}
    </select>
    <select id="selectInsertTodo" resultType="com.example.todolistreact.todo.dto.TodoDataDto">
        SELECT *
        FROM todo_tb
        WHERE todo_no = #{todoNo}
    </select>

    <delete id="deleteTodo">
        DELETE FROM todo_tb
        WHERE todo_no = #{todoNo}
    </delete>

</mapper>
